@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Roboto+Mono:wght@500&display=swap');
@import 'heartbeat.css';
/* styles for both mobile and desktop */
* {
    box-sizing: border-box;
}


.filing-card {
    background-color: lightgrey;
    border-color: darkgray;
}

.companies-card {
    background-color: cornsilk;
    border-color: bisque;
}

.insolvency-card {
    background-color: lightpink;
    border-color: firebrick;
}

.charges-card {
    background-color: lightsteelblue;
    border-color: steelblue;
}

.psc-card {
    background-color: #85FFBD;
    background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
    border-color: #85FFBD;
}

.officer-card {
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
    border-color: #FBAB7E;
}

.alert {
    background-color: tomato;
    border-color: firebrick;
}