#events > div.heartbeat {
    background-color: transparent;
    border: none;
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heart1 {
    width: 50%;
    height: 50%;
    border-radius: 50%;
    position: relative;
    top: 10%;
    background: crimson;
    left: 10%;
}

.heart2 {
    position: relative;
    top: -40%;
    left: 40%;
    background: crimson;

    width: 50%;
    height: 50%;
    border-radius: 50%;
}

.heart3 {
    width: 0;
    height: 0;
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-top: 40px solid crimson;
    position: relative;
    top: -50%;
    left: 15%;
    background: transparent;
}

#events > div.heartbeat > .heart-outer {
    margin: 0;
    width: 100px;
    height: 100px;
    animation: scale 1s ease-out 1s Infinite alternate;
    border: none;
}

@keyframes scale {
    0% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1.1);
    }
}
