@import "common.css";
#events{
    background-color: aliceblue;
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    justify-content: space-between;
    bottom: 0;
    align-items: center;
}

#events>div{
    margin: 0;
    padding: 0;
    display: inline;
    transition: all 1s ease-in-out;
    animation: pop 0.5s ease-in;
    max-width: 100%;
}

#events > div > div {
    border-width: 2px;
    border-style: solid;
    border-radius: 0.25em;
    margin: 1em;
    padding: 1em;
    overflow: hidden;
    white-space: nowrap;
}



#events>div.heartbeat{
    background-color: transparent;
    border: none;
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#events > div.heartbeat > .heart-outer {
    margin: 0;
    width: 100px;
    height: 100px;
    animation: scale 1s ease-out 1s Infinite alternate;
    border: none;
}

@keyframes scale {
    0% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1.1);
    }
}

.event {
    animation: popWidth 0.5s ease-in;
}
