@import "common.css";
#events{
    background-color: aliceblue;
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    justify-content: space-between;
    bottom: 0;
    align-items: center;
}

#events>div{
    margin: 0;
    padding: 0;
    display: inline;
    transition: all 1s ease-in-out;
    animation: pop 0.5s ease-in;
    max-width: 100%;
}

#events > div > div {
    border-width: 2px;
    border-style: solid;
    border-radius: 0.25em;
    margin: 1em;
    padding: 1em;
    overflow: hidden;
    white-space: nowrap;
}


@keyframes pop {
    0% {
        opacity: 0;
        max-width: 0;
    }
    90% {
        opacity: 0.5;
        max-width: 100%;
        transform: scale(1.2);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}


h1{
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    margin: 1.5em 0 0 0;
}
.view-source{
    margin-bottom: 1.5em;
    display: grid;
    place-items: center;
}
a{
    color: royalblue;
}
#connection-status.connected{
    background-color: dodgerblue;
    color: aliceblue;
}
#connection-status.disconnected{
    background-color: tomato;
    color: honeydew;
}
#connection-status{
    border-radius: 0.25em;
    padding: 0.25em;
    margin: 0.25em;
    display: inline-block;
    border: none;
    font-size: inherit;
}
body{
    margin: 0;
}
div.bubble{
    display: inline-block;
    margin: 0.25em;
    padding: 0.25em;
    border-radius: 0.25em;
    background-color: darksalmon;
    color: #801c00;
    transition: all 0.5s ease-in;
}
code{
    font-family: 'Roboto Mono', monospace;
    background-color: rgba(0,0,0,0.2);
    border-radius: 0.1em;
    padding: 0.1em;
    margin: 0.3em;
}
p.new-company{
    color: green;
    font-weight: 600;
    margin: 0;
}
.row h3{
    margin-bottom: 0;
}
#clock {
    transform: scale(2);
}
#clock-container:hover #clock {
    transform: scale(3);
}

#counter-container:hover .bubble{
    transform: scale(2) translateX(-25%);
}
#clock-container{
    display: grid;
    place-items: center;
    width: 500px;
}
sup.event-timestamp{
    align-self: flex-end;
}

#events>div.heartbeat{
    background-color: transparent;
    border: none;
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#events > div.heartbeat > .heart-outer {
    margin: 0;
    width: 100px;
    height: 100px;
    animation: scale 1s ease-out 1s Infinite alternate;
    border: none;
}

@keyframes scale {
    0% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1.1);
    }
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}
