{$SITE_ADDRESS:companies.stream} {
        log

        handle {
                root * /client
                try_files {path} /index.html
                file_server
        }

        @websockets {
                header Connection *Upgrade*
                header Upgrade websocket
                # protocol ws
        }

        handle @websockets {
                reverse_proxy event-subscriber:3000
        }

        # for health checks
        handle_path /events/* {
                reverse_proxy event-subscriber:3000
        }
}
