{$SITE_ADDRESS:companies.stream} {
        log

        handle {
                root * /client
	            encode gzip
                try_files {path} {path}.html {path}index.html
                header Content-Security-Policy "default-src 'self' ;script-src 'self';img-src 'self' data:;worker-src 'self';style-src 'self' 'unsafe-inline' fonts.googleapis.com;manifest-src 'self';connect-src ws: 'self' fonts.googleapis.com;font-src fonts.google.com fonts.gstatic.com data:"
                header /assets/* Cache-Control max-age=31536000,immutable
                file_server
        }

        @websockets {
                header Connection *Upgrade*
                header Upgrade websocket
                # protocol ws
        }

        handle @websockets {
                reverse_proxy event-subscriber:3000
        }

        # for health checks
        handle_path /events/* {
                reverse_proxy event-subscriber:3000
        }
}
