services:
  redis:
    image: redis:7.4
    restart: unless-stopped
    volumes:
      - redisdata:/data
    logging:
      driver: local

  webserver:
    build:
      context: .
      dockerfile: Caddy.Dockerfile
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - caddy_data:/data
      - caddy_config:/config
    logging:
      driver: local
    environment:
      SITE_ADDRESS: ${SITE_ADDRESS}

  event-publisher:
    build:
      context: server
      dockerfile: Publisher.Dockerfile
    environment:
      PUBSUB_REDIS_IP: redis
    env_file:
      - .api.env
    logging:
      driver: local
    depends_on: [ redis ]
    restart: on-failure

  api:
    build:
      context: server
      dockerfile: Api.Dockerfile
    environment:
      PUBSUB_REDIS_IP: redis
    logging:
      driver: local
    depends_on: [ redis ]
    restart: on-failure:3
    env_file:
      - .env

  persistence:
    build:
      context: server
      dockerfile: Persistence.Dockerfile
    environment:
      PUBSUB_REDIS_IP: redis
      SQLITE_PATH: /data/buffer.db
    logging:
      driver: local
    depends_on: [ redis ]
    #    restart: never
    volumes:
      - persisted_events:/data
    env_file:
      - .env

volumes:
  redisdata:
  caddy_data:
    external: true
  caddy_config:
  persisted_events:
