
#events{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
}
.event-column{
    display: grid;
    justify-items: center;
    align-content: start;
}
.event-column:nth-child(odd){
    //.stream-title{
    //    background: #0001;
    //}
}
.events-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-content: start;
    justify-self: stretch;
}

.event-card{
    border-radius: 2px;
    padding: 1rem;
    font-size: smaller;

    h3{
        margin-top: 0;
    }
    .published-at{
        display: none;
    }
    code{
        //cursor: copy;
        margin-right: 5px;
        display: inline-flex;
        gap: 4px;
        align-items: center;
    }
    button{
        background-color: #0004;
        border: 2px solid black;
        font-family: 'JetBrains Mono', monospace;
        cursor: copy;
        display: inline-flex;
        gap: 4px;
        align-items: center;
    }
}

.event-card.filings{
    background-color: #c7c7c7;
    animation: none;
}

.event-card.companies{
    background-color: #e0c88a;
}

.event-card.officers{
    background-color: #e9c069;
}
.event-card.persons-with-significant-control{
    background-color: #c7ed8b;
}
.event-card.charges{
    background-color: #b0cbe3;
}
.event-card.insolvency-cases{
    background-color: pink;
}

.event-card.disqualified-officers{
    background-color: #b15050;
}


.stream-title{
    font-size: 1rem;
    margin: 0;
    padding: 0.5rem;
    background: #0001;
    border-radius: 2px;
    justify-self: stretch;
}

.stream-path{
    font-size: 0.8rem;
    margin: 0.5rem;
}

// animation for appearing cards
@keyframes appear {
    from{
        max-height: 0;
    }
    to{
        max-height: 15rem;
    }
}
@keyframes disappear {
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}
.event-card-container{
    overflow: hidden;
    width: 100%;
    animation: appear .4s ease-out, disappear 3s ease-in 12s;
    position: relative;
}
