@import "./common.scss";

#events {
    display: grid;
    grid-template-columns: repeat(6, 1fr) 0.5fr;
    font-family: 'Poppins', sans-serif;
    background-color: aliceblue;
    height: 100vh;
}

/*event column, eg companies,filings*/
#events > div {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    overflow-y: hidden;
    scroll-behavior: smooth;
    overflow-x: hidden;
    height: 100%;
}

.event {
    animation: popHeight 0.5s ease-in;
}
