@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=JetBrains+Mono:wght@500&display=swap');

/* styles for both mobile and desktop */
* {
    box-sizing: border-box;
}

a {
    color: royalblue;
}

#connection-status.connected {
    background-color: dodgerblue;
    color: aliceblue;
}

#connection-status.disconnected {
    background-color: tomato;
    color: honeydew;
}

#connection-status {
    border-radius: 0.25em;
    padding: 0.25em;
    margin: 0.25em;
    display: inline-block;
    border: none;
    font-size: inherit;
}

body {
    margin: 0;
}


.view-source {
    margin-bottom: 1.5em;
    display: grid;
    place-items: center;
}

div.bubble {
    display: inline-block;
    margin: 0.25em;
    padding: 0.25em;
    border-radius: 0.25em;
    background-color: darksalmon;
    color: #801c00;
    transition: all 0.5s ease-in;
}

code {
    font-family: 'Roboto Mono', monospace;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 0.1em;
    padding: 0.1em;
    margin: 0.3em;
}

p.new-company {
    color: green;
    font-weight: 600;
    margin: 0;
}


.row h3 {
    margin-bottom: 0;
}

#clock {
    transform: scale(2);
}

#clock-container:hover #clock {
    transform: scale(3);
}

#counter-container:hover .bubble {
    transform: scale(2) translateX(-25%);
}

#clock-container {
    display: grid;
    place-items: center;
    width: 500px;
}

sup.event-timestamp {
    align-self: flex-end;
}

h1 {
    font-family: 'JetBrains Mono', monospace;
    font-weight: 500;
    text-align: center;
    margin: 1.5em 0 0 0;
}

.event {
    transition: all 1s ease-in-out;
    animation: popHeight 0.5s ease-in;
    max-width: 100%;
}

.event > div {
    border-width: 2px;
    border-style: solid;
    border-radius: 0.25em;
    margin: 1em;
    padding: 1em;
    overflow: hidden;
    white-space: nowrap;
}

.filing-card {
    background: rgb(159, 162, 170);
    background: linear-gradient(144deg, rgba(159, 162, 170, 1) 0%, rgba(191, 205, 209, 1) 100%);
    border-color: darkgray;
}

.companies-card {
    background: rgb(255, 248, 220);
    background: linear-gradient(144deg, rgba(255, 248, 220, 1) 0%, rgba(209, 206, 191, 1) 100%);
    border-color: bisque;
}

.insolvency-card {
    background: rgb(255, 182, 193);
    background: linear-gradient(144deg, rgba(255, 182, 193, 1) 0%, rgba(209, 191, 191, 1) 100%);
    border-color: firebrick;
}

.charges-card {
    background: rgb(176, 196, 222);
    background: linear-gradient(63deg, rgba(176, 196, 222, 1) 0%, rgba(191, 199, 209, 1) 100%);
    border-color: steelblue;
}

.psc-card {
    background-color: #85FFBD;
    background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
    border-color: #85FFBD;
}

.officer-card {
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
    border-color: #FBAB7E;
}

.alert {
    background-color: tomato;
    border-color: firebrick;
}


@keyframes popWidth {
    0% {
        opacity: 0;
        max-width: 0;
    }
    90% {
        opacity: 0.5;
        max-width: 100%;
        transform: scale(1.2);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes popHeight {
    0% {
        opacity: 0;
        max-height: 0;
    }
    90% {
        opacity: 0.9;
        max-height: 100%;
        transform: scale(1.1);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}
