name: 'build server'
on: # rebuild any branch changes for the server directory
  push:
    paths:
      - server/**

jobs:
  build-server:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - uses: oven-sh/setup-bun@v1
      - name: Install dependencies
        run: bun install --frozen-lockfile
        working-directory: server
      - name: Build server typescript
        run: bun run build
        working-directory: server
