

header{

  h1.title{
    text-align: center;
    font-size: 2rem;
  }

  .badges{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

}


@media (max-width: 700px) {
  header h1.title{
    font-size: 1.4rem;
  }
}
